// Place all the styles related to the Property controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index_wrap, 
#property_wrap { margin: 0 auto; }

#index_wrap { 
    width:    500px; 
    overflow:  auto;
}

#index_content { margin:   10px; }

#property_wrap { width:   940px; }

#search {
    height:       30pt;
    width:       450px;
    line-height:  30pt;
    font-size:    28pt;
}

#search:-moz-placeholder           { color: #ddd; }
#search:-ms-input-placeholder      { color: #ddd; }
#search::-webkit-input-placeholder { color: #ddd; }

#map_view               { background-color: #fff; }

#map {
    margin:  10px;
    height: 400px;
}

// Google Maps Zoom Control bug fix
// Possible clash with Bootstrap styles
#map img { max-width: none; }

.rounded {
    display:    block;
    margin:  20px 0px;

    -webkit-border-radius: 10px;
    -moz-border-radius:    10px;
    border-radius:         10px;
    
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);    
    box-shadow:         0px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.property-list {
    background-color:      #fff;
    list-style-type:       none;
}

.property-list li {
    display: block;
    padding:  10px;
}

.property-list li > .label {
    margin-right: 5px;
}

.property-list li:hover {
    background-color: #fafafa;
}